* {
    font-family: "JetBrains Mono";
    border-radius: 12px;
}

.control-center {
    background-color: rgba(15, 15, 15, 0.85);
    border: 1px solid #333333;
    color: #FFFFFF;
}

.notification {
    background-color: #222222;
    margin: 8px;
    padding: 10px;
}
